@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;;
    padding: 0;
}


body {
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-color: #19A1AE;
    background-repeat: no-repeat, no-repeat;
    transform: rotate(-135deg, 0deg);
}


h1 {
    font-family: 'Kumbh Sans';
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 9px;
}

p {
    font-family: 'Kumbh Sans';
    font-weight: 400;
    font-size: 10px;
    color: #6B7082;
    margin-bottom: 27px;
}

h4 {
    font-family: 'Kumbh Sans';
    font-weight: 400;
    font-size: 14px;
    color: #6B7082;
}

h3 {
    font-family: 'Kumbh Sans';
    font-weight: 400;
    font-size: 18px;
    color: #6B7082;
    margin-left: 8.5px;
}

h2 {
    font-family: 'Kumbh Sans';
    font-weight: 700;
    font-size: 18px;
}

hr {
    width: 350px;
    border: 0px;
    background-color: #E8E9EC;
    height: 1px;
}

.card {
    width: 350px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.victor {
    position: absolute;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 5px solid white;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 100%);
}

.name {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
}

h4 {
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

.details {
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
}

.one, .two, .three {
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media screen and (min-width: 300px) {
    body {
        background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
        background-position: top -600px left -750px, bottom -1250px right -750px
    }
}

@media screen and (min-width: 1000px) {

    body {
        background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
        background-position: top -470px left -250px, bottom -1300px right -200px;
    }
}